extends  base.pug

block style 
    style
        include ../static/style.css
        include ../static/aboutstyle.css
block content
    div.container
        h1#about about us 
        p Based in<b> Rajkot, Gujarat, India, &ldquo;Vraj Plastic&rdquo;</b> is a famous name, was established in the year 2013. Our reputed firm offers a wide range of Ropes &amp; Twines products like <b>Colored Plastic Twine, Colored Polypropylene Twine, Green Plastic Twine, PET Green Packaging Straps, PET White Packaging Straps, Pink Plastic Twine, Plain Polypropylene Twine, PP Black Packaging Straps, PP Colored Packaging Straps and many more. </b>All of our product are completely checked on various parameters by our quality controllers. Our Organization has been providing defect-free products.
        br
        p Under the direction of our firm CEO <b>Mr. Rajesh,</b> Who has numerous years of experience in this Business. Our mentor has a profound knowledge of this domain, business aptitudes, and a positive attitude, supported by which we have been able to establish a strong foothold in this industry. Our offered products are manufactured using superior quality raw materials that are sourced from reliable vendors in the market. Our products are designed for the highest quality, reliability, and durability according to the market prices and standards. With the extensive knowledge of these products and knowledge expertise, these items are customized according to the specifications and requirements of the clients.
        h2#why  why us?
        p We have accomplished a strong position in the market for offering fantastic quality items in the expected amount to customers. Following are some novel reasons because of which we have developed as a favored name for benefactors:
        ul 
            li.about qulity product 
            li.about Experienced R & D department
            li.about Expert professionals
            li.about Large production capacity
            li.about Customer oriented approach
            li.about On-time delivery
        h2#aim our Aim 
        p Our aim is to provide effective product to our clients with good quality and price assurance. We have gained tremendous success in the field of supplying packaging ropes, rescue ropes, and many more products. Our aim is to provide totally defect-free and high-quality products. which is demanded by the customers.
        h2#team  our team 
        p We have a group of experts. They all are experienced and qualified. They work with dedication to deliver the premium quality ropes and twines within the promised time span. These twines and ropes are manufactured by using superior quality raw materials and advanced technology.
        h2#myproduct our product 
        p Our products range are Colored Plastic Twine, Colored Polypropylene Twine, Green Plastic Twine, PET Green Packaging Straps, PET White Packaging Straps, Pink Plastic Twine, Plain Polypropylene Twine, PP Black Packaging Straps, PP Colored Packaging Straps and many more. Our items are high in quality and are manufactured using high-quality raw material and modern technology. These items are widely in demand and offered to clients all across the nation.