doctype html
html
  head
    title Vraj plastic
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo22.jpg")
                | Vraj
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/requirement") requirement]
            li #[a(href="/contact") Contact Us]

    block content
    footer#foot
        | Copyright © 2019 vraj plastic.com | All Rights Reserved