extends  base.pug

block style 
    style
        include ../static/style.css
block content
    div.container 
        section#name
            h1 VRAJ PLASTIC
        section#product   
            h1 OUR PRODUCTS
            img(src="/static/img/DORI.jpg")
            img(src="/static/img/dori2.jpg")
            img(src="/static/img/dori3.jpg")
            img(src="/static/img/dori4.jpg")
            img(src="/static/img/dori5.jpg")
            img(src="/static/img/dori6.jpg")